body {
    font-family: Tahoma, Arial;
    background: #f2f4f7;
    direction: rtl;
    margin: 0;
    padding: 20px;
}

.container {
    background: #ffffff;
    max-width: 900px;
    margin: auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 0;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.buttons {
    margin-bottom: 10px;
}

button {
    padding: 8px 14px;
    margin-left: 5px;
    cursor: pointer;
}

#qr-reader {
    width: 300px;
    margin: 10px 0;
}

iframe {
    width: 100%;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;

    pointer-events: none;   /* ⭐ الحل السحري */
}
